<div class="app">
  <div class="app-container">

    <div class="title-container">
      <h1 class="title">
        {{ title }}
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-clipboard-signature">
            <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
            <path d="M8 4H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-.5" />
            <path d="M16 4h2a2 2 0 0 1 1.73 1" />
            <path d="M18.42 9.61a2.1 2.1 0 1 1 2.97 2.97L16.95 17 13 18l.99-3.95 4.43-4.44Z" />
            <path d="M8 18h1" />
          </svg>
        </span>
      </h1>
      <div class="title-box">
        <h3 class="title-description">
          🎯 Cadastre seus objetivos pessoais e metas profissionais.
        </h3>
        <button type="button" class="change-btn" (click)="changeTitle()">
          Alterar Titúlo
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-rotate-ccw">
            <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8" />
            <path d="M3 3v5h5" />
          </svg>
        </button>
      </div>
    </div>
    <hr class="line">

    <div>
      <form [formGroup]="form">
        <div class="form-task">
          <h1 class="form-title">
            Criar uma nova tarefa
          </h1>

          <div class="form-container">
            <div class="form-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-case-upper">
                <path d="m3 15 4-8 4 8" />
                <path d="M4 13h6" />
                <path d="M15 11h4.5a2 2 0 0 1 0 4H15V7h4a2 2 0 0 1 0 4" />
              </svg>

              <input class="input-task" type="text" placeholder="Insira o titúlo da tarefa" maxlength="60"
                formControlName="title" required="true" />
            </div>

            <div class="form-btn">
              <button type="button" class="btn-save" (click)="add()" [disabled]="form.invalid">
                Salvar
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-plus">
                  <path d="M5 12h14" />
                  <path d="M12 5v14" />
                </svg>
              </button>
            </div>
          </div>
          <span class="invalid">
            <small *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-info">
                <circle cx="12" cy="12" r="10" />
                <path d="M12 16v-4" />
                <path d="M12 8h.01" />
              </svg>
              Este campo deve conter entre 5 e 60 caracteres
            </small>
          </span>
        </div>
      </form>
    </div>

    <div class="bat-img" *ngIf="tasks.length == 0">
      <p>
        Shhhh ... parece que você não possui nenhuma tarefa.
      </p>
      <img src="../assets/sleeping.svg" alt="Sleeping bat">
    </div>

    <div class="table-container" *ngFor="let task of tasks">
      <div class="table-box">
        <table class="table-content">
          <thead>
            <tr>
              <th class="thh">
                ID
              </th>
              <th class="thh">
                Tarefa
              </th>
              <th class="thh">
                Status
              </th>
              <th class="thh">
                Ações
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="tb-body">
                <div class="table-letter">
                  <p>
                    {{ task.id}}
                  </p>
                </div>
              </td>

              <td class="tb-body">
                <div class="table-letter">
                  <p>
                    {{ task.task}}
                  </p>
                </div>
              </td>

              <td class="tb-body">
                <div class="status-content">
                  <span class="status-box">
                    <span class="status"></span>
                    <span style="position: relative;">
                      Iniciada
                    </span>
                  </span>
                </div>
              </td>

              <td class="tb-body">
                <div class="table-buttons">
                  <button type="button" class="check-btn" *ngIf="!task.done" (click)="markDone(task)"
                    title="Finalizar tarefa">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="lucide lucide-check-square">
                      <path d="m9 11 3 3L22 4" />
                      <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
                    </svg>
                  </button>

                  <div class="divisor"></div>
                  <button type="button" class="trash-btn" (click)="remove(task)" title="Excluir tarefa">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="lucide lucide-trash">
                      <path d="M3 6h18" />
                      <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                      <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>