<div class="app">
  <div class="app-container">

    <div class="title-container">
      <h1 class="title">{{ title }} </h1>
      <div class="title-box">
        <p class="title-description">
          🎯 Objetivos pessoais e metas profissionais.
        </p>
        <button type="button" class="change-btn" (click)="changeTitle()">
          Alterar Titúlo
        </button>
      </div>
    </div>
    <hr class="line">

    <div class="list-container">
      <section class="list-section">
        <p class="list-task" *ngFor="let task of tasks">{{ task }}</p>
      </section>
    </div>

  </div>
</div>